{% macro render_field(field) %}
    {# rendering of fields #}
    {# associates the HTML/bootstrap form fields i already had for assignment 2 with corresponding flask form CitiesForm #}
    {{ field(**kwargs)|safe }}
    {% if field.errors %}
        <ul class="errors">
            {% for error in field.errors %}
                <li>{{ error }}</li>
            {% endfor %}
        </ul>
    {% endif %}
{% endmacro %}

{% macro render_radios(field) %}
    {# renders the radio field i had created for assignment 2 and associates it with corresponding flask CitiesForm #}
    <fieldset class="form-group" id="{{ field.id }}">
        <div class="row">
            <legend class="col-form-label pt-0 marg-align">{{field.label.text}}</legend>
        </div>
        <div class="row">
            <div class="col-sm-10">
                <div class="form-check">
                    <input class="form-check-input" type="radio" name="{{ field.name }}" id="mode-0" value="{{ field.choices[0][0] }}">
                    <label class="form-check-label" for="mode-0">
                        {{ field.choices[0][1] }}
                    </label>
                </div>
                <div class="form-check">
                    <input class="form-check-input" type="radio" name="{{ field.name }}" id="mode-1" value="{{ field.choices[1][0] }}" checked>
                    <label class="form-check-label" for="mode-1">
                        {{ field.choices[1][1] }}
                    </label>
                </div>
            </div>
        </div>
    </fieldset>
{% endmacro %}

{% macro render_trigger(name) %}
    {# controls triggering of handle_route #}
    {% if name == "load_trigger" %}
        {# if the form has been submitted, this will trigger the building of the route #}
        <script src="{{ url_for('static', filename='js/load_trigger.js') }}"></script>
    {% else %}
        {# form was not submitted, don't trigger #}
        <script>
            console.log("Load_trigger not loaded")
        </script>
    {% endif %}
{% endmacro %}

{% macro signup_textfield(field, text) %}
    <div class="form-group form-input">
        <input type="text" name="{{ field.id }}" id="{{ field.id }}" value="{{ field.data }}" placeholder="" required/>
        <label for="{{ field.id }}" class="form-label">{{ text }}</label>
        {% if field.errors %}
            {% for error in field.errors %}
                <span class="alert-error">{{ error }}</span>
            {% endfor %}
        {% endif %}
    </div>
{% endmacro %}
{% macro signup_passfield(field, text) %}
    <div class="form-group form-input">
        <input type="password" name="{{ field.id }}" id="{{ field.id }}" value="{{ field.data }}" placeholder="" required/>
        <label for="{{ field.id }}" class="form-label">{{ text }}</label>
        {% if field.errors %}
            {% for error in field.errors %}
                <span class="alert-error">{{ error }}</span>
            {% endfor %}
        {% endif %}
    </div>
{% endmacro %}

{% macro signup_radios(field) %}
    <div class="form-radio">
        <label class="label-radio"> Select the role you envision for yourself</label>
        <div class="radio-item-list">
            <span class="radio-item" id="apply-span">
                <input type="radio" name="{{ field.name }}" value="{{ field.choices[0][0] }}" id="{{ field.choices[0][1] }}" />
                <label for="{{ field.choices[0][1] }}">A</label>
            </span>
            <span class="radio-item active" id="donate-span">
                <input type="radio" name="{{ field.name }}" value="{{ field.choices[1][0] }}" id="{{ field.choices[1][1] }}" checked="checked" />
                <label for="{{ field.choices[1][1] }}">D</label>
            </span>
            <span class="radio-item" id="follow-span">
                <input type="radio" name="{{ field.name }}" value="{{ field.choices[2][0] }}" id="{{ field.choices[2][1] }}" />
                <label for="{{ field.choices[2][1] }}">F</label>
            </span>
            <span class="radio-item" id="create-span">
                <input type="radio" name="{{ field.name }}" value="{{ field.choices[3][0] }}" id="{{ field.choices[3][1] }}" />
                <label for="{{ field.choices[3][1] }}">C</label>
            </span>
        </div>
    </div>
{% endmacro %}