{% extends "main.html" %}
{% from "_fieldhelpers.html" import render_field, render_radios, render_trigger %}

{% block main_content %}

    <div class="container-fluid card-container">
        <div class="row">
            <div class="col-lg-6">
                <div class="card grey-background">
                    <div class="card-body">
                        <form action="{{ url_for('cities') }}" method=post>
                            {{ form.csrf_token }}
                            <div class="container-fluid">
                                <h5 class="card-title">Tour Builder</h5>
                                <h6 class="card-subtitle mb-2 text-muted">Plan a tour</h6>
                                <!-- Default dropright button -->
                                <div class="btn-group dropright">
                                    <button type="button" id="selected-city" class="btn btn-secondary dropdown-toggle" data-toggle="dropdown" aria-haspopup="true" aria-expanded="false">Paris</button>
                                    <div class="dropdown-menu" id="city-selections">
                                        <!-- Dropdown menu links -->
                                        <a class="dropdown-item" id="dropright-0" href="#">New York City</a>
                                        <a class="dropdown-item" id="dropright-1" href="#">London</a>
                                        <a class="dropdown-item" id="dropright-2" href="#">Montreal</a>
                                        <div class="dropdown-divider"></div>
                                        <a class="dropdown-item disabled" href="#">More cities coming soon. . .</a>
                                    </div>
                                </div>
                                <div class="form-group">
                                    <h6>ADDRESS</h6>
                                    <div class="row">
                                        <div class="col-7">
                                            {{ render_field(form.address, class="form-control", placeholder="Street Address") }}
                                        </div>
                                    </div>
                                    <div class="row">
                                        <div class="form-row pad-align">
                                            <div class="col-7">
                                                {{ render_field(form.city, class="form-control", placeholder="City") }}
                                            </div>
                                            <div class="col">
                                                {{ render_field(form.state, class="form-control", placeholder="State") }}
                                            </div>
                                            <div class="col">
                                                {{ render_field(form.zip, class="form-control", placeholder="Zip") }}
                                            </div>
                                        </div>
                                    </div>
                                </div>
                                <!--
                                <div class="form-group row">
                                    <label for="inputPassword3" class="col-sm-2 col-form-label">Password</label>
                                    <div class="col-sm-10">
                                        <input type="password" class="form-control" id="inputPassword3" placeholder="Password">
                                    </div>
                                </div>
                                -->
                                <div class="form-group" id="optional-destination">
                                    <h6>DESTINATION</h6>
                                    <div class="row">
                                        <div class="col-7">
                                            {{ render_field(form.dest_address, class="form-control", placeholder="Street Address") }}
                                        </div>
                                    </div>
                                    <div class="row">
                                        <div class="form-row pad-align">
                                            <div class="col-7">
                                                {{ render_field(form.dest_city, class="form-control", placeholder="City") }}
                                            </div>
                                            <div class="col">
                                                {{ render_field(form.dest_state, class="form-control", placeholder="State") }}
                                            </div>
                                            <div class="col">
                                                {{ render_field(form.dest_zip, class="form-control", placeholder="Zip") }}
                                            </div>
                                        </div>
                                    </div>
                                </div>

                                {{ render_radios(form.mode) }}

                                <div class="row">
                                    <div class="col-form-label marg-align">Points Of Interest</div>
                                </div>
                                <div class="row">
                                    {{ render_field(form.dests, placeholder="List of places you want to see on your tour, separated by ' -- '", class="col-lg-12 marg-align card-textbox") }} <!-- <textarea   form="csl" id="csl"></textarea> -->
                                </div>
                                <div class="form-group row">
                                    <div class="col-sm-2">
                                        <button type="submit" class="btn btn-primary">Go!</button>
                                    </div>
                                    <div class="col-sm-2">
                                        <button type="reset" class="btn btn-primary">Clear</button>
                                    </div>
                                </div>
                            </div>
                        </form>
                    </div>
                </div>

            </div>
            <div class="col">
                <div class="card grey-background flex-fill" id="map-card">
                    <div class="card-body">
                        <h5 class="card-title">Your tour</h5>
                        <h6 class="card-subtitle mb-2 text-muted">Google maps. . . . . for now. . .</h6>
                        <div id="maps-frame">
                            <div class="mapouter" id="outermap">
                                <div id="gmap_canvas">

                                </div>
                            </div>
                        </div>
                        <a href="{{ route }}" class="card-link" target="{{ target }}">Your route</a><a> Lat: </a><a id="lat">--</a><a>, Long: </a><a id="long">--</a>
                        <div id="dlist">

                        </div>
                    </div>
                </div>
            </div>
        </div>
    </div>

{% endblock %}

{% block footer %}
    {{ super() }}
    <div hidden id="spinner-wrapper">
        <div hidden id="spinner"></div>
    </div>

{% endblock %}

{% block additional_scripts %}
    <script>
        // toggles destination form on and off,
        // forces input of destination address if one way selected
        document.getElementById("mode").onclick = function() {
            var selection = document.querySelector('input[name="mode"]:checked').value;
            if (selection === "one_way") {
                $('#optional-destination').css('display', 'block');
                $('#dest_address').attr('required', true);
                $('#dest_zip').attr('required', true);
                $('#dests').removeAttr('required');
            } else {
                $('#optional-destination').css('display', 'none');
                $('#dest_address').removeAttr('required');
                $('#dest_zip').removeAttr('required');
                $('#dests').attr('required', true);
            }

            // resize the scroll bar
            $('body').getNiceScroll().resize();
        }
    </script>
    <script>
        // script that controls the map, dropright and directions renderer
        // load coordinates for dropright and get canvas
        coords = JSON.parse('{{ city_coords | tojson | safe}}');
        const canvas = document.getElementById("gmap_canvas");

        var route_resp;
        var dlist = document.getElementById('dlist');

        dlist.addEventListener('make_list', build_list);

        // initializes map
        function initMap() {
            // Instantiate a directions service.
            var directionsService = new google.maps.DirectionsService;

            // Create a map and center it on Manhattan.
            var map = new google.maps.Map(document.getElementById('gmap_canvas'), {
                zoom: 13,
                center: {lat: coords.paris.lat, lng: coords.paris.long}
            });
            // changes map coordinates under the map
            map.addListener('center_changed', function () {
                document.getElementById("lat").innerHTML = map.getCenter().lat();
                document.getElementById("long").innerHTML = map.getCenter().lng();
            });
            // add responsive to dropright
            $("#city-selections a").click(function () {
                // display selection on front of dropright, put old selection in the dropright
                var selection = $(this).text();
                $(this).text(document.getElementById("selected-city").innerHTML);
                document.getElementById("selected-city").innerHTML = selection;
                // change the map coordinates based on selection
                map = new google.maps.Map(document.getElementById("gmap_canvas"), buildCoords(selection));
                // reset the lat and long
                document.getElementById("lat").innerHTML = "--";
                document.getElementById("long").innerHTML = "--";
            });
            // Create a renderer for directions and bind it to the map.
            var directionsRenderer = new google.maps.DirectionsRenderer({map: map});

            // listen for information from the load_trigger
            canvas.addEventListener('load_trigger', function (evt) {
                console.log("Hello from map, event Build was fired");
                console.log('Evt is');
                console.log(evt);
                directionsService.route({
                    origin: evt.detail.start_address,
                    destination: evt.detail.end_address,
                    travelMode: evt.detail.travelmode,
                    waypoints: evt.detail.waypoints
                }, function (response, status) {
                    // Route the directions and pass the response to a function to create
                    // markers for each step.
                    if (status === 'OK') {
                        console.log(response);
                        directionsRenderer.setDirections(response);
                    }
                });
            });
        }
        function build_list(evt){
            // remove old lists
            dlist.removeChild(dlist.childNodes[0]);
            // add header
            var head = document.createElement('h5');
            head.innerText = 'Destination List';
            head.style.paddingTop = '20px';
            head.style.paddingBottom = '20px';
            dlist.appendChild(head);
            //
            var theList = document.createElement('ul');
            theList.className = "list-group list-group-flush grey-background";

            for(var i = 0; i < evt.detail.length; i++){
                var li = document.createElement('li');
                li.className = "list-group-item grey-background";
                li.innerText = evt.detail[i];
                theList.appendChild(li);
            }

            dlist.appendChild(theList);

            // resize the scroll bar
            $('body').getNiceScroll().resize();

        }
        // function to decide which coordinates to use for center of map
        function buildCoords(name){
            var lat;
            var lng;
            var zoom = 13;
            if (name === "Paris"){
                lat = coords.paris.lat;
                lng = coords.paris.long;
            }
            else if (name === "London"){
                lat = coords.london.lat;
                lng = coords.london.long;
            }
            else if (name === "Montreal"){
                lat = coords.montreal.lat;
                lng = coords.montreal.long;
            }
            else {
                lat = coords.new_york_city.lat;
                lng = coords.new_york_city.long;
                zoom = 12;
            }
            return {zoom: zoom, center: {lat: lat, lng: lng}}
        }

        $(window).resize(function() {
            // resize map so it's not overflowing the card
            var w = $('#map-card').width();
            var map = $('#outermap');
            // greater than 625 means no overflow, (leave as is | grow back to 600px)
            if (w >= 625){
                map.css('width', '600px');
            }
            // map is overflowing, make 25px smaller than card width
            else {
                map.css('width', (w - 25) + 'px');
            }
        });
    </script>
    <script async defer src="https://maps.googleapis.com/maps/api/js?key={{maps_key}}&callback=initMap"></script>

    {{ render_trigger(load_trigger) }}
    <script src="{{ url_for('static', filename='js/scroll_bar_resizer.js') }}"></script>

{% endblock %}