{% extends "main.html" %}
{% from "_formhelpers.html" import render_field, render_radios %}

{% block main_content %}

    <div class="container-fluid card-container">
        <div class="row">
            <div class="col-lg-6">
                <div class="card grey-background">
                    <div class="card-body">
                        <form action="/cities" method="post">
                            <div class="container-fluid">
                                <h5 class="card-title">Tour Builder</h5>
                                <h6 class="card-subtitle mb-2 text-muted">Plan a tour</h6>
                                <!-- Default dropright button -->
                                <div class="btn-group dropright">
                                    <button type="button" id="selected-city" class="btn btn-secondary dropdown-toggle" data-toggle="dropdown" aria-haspopup="true" aria-expanded="false">
                                        Paris
                                    </button>
                                    <div class="dropdown-menu" id="city-selections">
                                        <!-- Dropdown menu links -->
                                        <a class="dropdown-item" href="#">New York City</a>
                                        <a class="dropdown-item" href="#">London</a>
                                        <a class="dropdown-item" href="#">Montreal</a>
                                        <div class="dropdown-divider"></div>
                                        <a class="dropdown-item disabled" href="#">More cities coming soon. . .</a>
                                    </div>
                                </div>


                                <div class="form-group">
                                    <h6>ADDRESS</h6>
                                    <div class="row">
                                        <div class="col-7">
                                            {{ render_field(form.address, class="form-control", placeholder="Street Address") }}
                                        </div>
                                    </div>
                                    <div class="row">
                                        <div class="form-row pad-align">
                                            <div class="col-7">
                                                {{ render_field(form.city, class="form-control", placeholder="City") }}
                                            </div>
                                            <div class="col">
                                                {{ render_field(form.state, class="form-control", placeholder="State") }}
                                            </div>
                                            <div class="col">
                                                {{ render_field(form.zip, class="form-control", placeholder="Zip") }}
                                            </div>
                                        </div>
                                    </div>
                                </div>
                                <!--
                                <div class="form-group row">
                                    <label for="inputPassword3" class="col-sm-2 col-form-label">Password</label>
                                    <div class="col-sm-10">
                                        <input type="password" class="form-control" id="inputPassword3" placeholder="Password">
                                    </div>
                                </div>
                                -->
                                <div class="form-group" id="optional-destination">
                                    <h6>DESTINATION</h6>
                                    <div class="row">
                                        <div class="col-7">
                                            {{ render_field(form.dest_address, class="form-control", placeholder="Street Address") }}
                                        </div>
                                    </div>
                                    <div class="row">
                                        <div class="form-row pad-align">
                                            <div class="col-7">
                                                {{ render_field(form.dest_city, class="form-control", placeholder="City") }}
                                            </div>
                                            <div class="col">
                                                {{ render_field(form.dest_state, class="form-control", placeholder="State") }}
                                            </div>
                                            <div class="col">
                                                {{ render_field(form.dest_zip, class="form-control", placeholder="Zip") }}
                                            </div>
                                        </div>
                                    </div>
                                </div>

                                {{ render_radios(form.mode) }}

                                <div class="row">
                                    <div class="col-form-label marg-align">Points Of Interest</div>
                                </div>
                                <div class="row">
                                    {{ render_field(form.dests, placeholder="Comma separated list of places you want to see on your tour", class="col-lg-12 marg-align card-textbox") }} <!-- <textarea   form="csl" id="csl"></textarea> -->
                                </div>
                                <div class="form-group row">
                                    <div class="col-sm-2">
                                        <button type="submit" class="btn btn-primary">Go!</button>
                                    </div>
                                    <div class="col-sm-2">
                                        <button type="reset" class="btn btn-primary">Clear</button>
                                    </div>
                                </div>
                            </div>
                        </form>
                    </div>
                </div>

            </div>
            <div class="col">
                <div class="card grey-background flex-fill" >
                    <div class="card-body">
                        <h5 class="card-title">Your tour</h5>
                        <h6 class="card-subtitle mb-2 text-muted">Google maps. . . . . for now. . .</h6>
                        <div id="maps-frame centered-image">
                            <div class="mapouter">
                                <div class="gmap_canvas">
                                    <iframe id="gmap_canvas"
                                            src="https://maps.google.com/maps?q=paris&t=&z=13&ie=UTF8&iwloc=&output=embed"
                                            frameborder="0"
                                            scrolling="no"
                                            marginheight="0"
                                            marginwidth="0">

                                    </iframe>
                                </div>
                            </div>
                        </div>
                        <a href="{{ route }}" class="card-link" target="{{ target }}">Your route</a>
                    </div>
                </div>
            </div>
        </div>
    </div>

{% endblock %}

{% block additional_scripts %}
    <script>
        // toggles destination form on and off
        document.getElementById("mode").onclick = function() {
            var selection = document.querySelector('input[name="mode"]:checked').value;
            if (selection === "round_trip") {
                document.getElementById("optional-destination").style.visibility = "visible";
            } else {
                document.getElementById("optional-destination").style.visibility = "hidden";
            }
        }
    </script>
    <script>
        {#function dropdownResponse() {#}
        {#    var sel = document.getElementById("city-selector");#}

        {#document.getElementById("#city-selector").addEventListener("click", dropdownResponse);#}
        $(document).ready(function(){
            $("#city-selections a").click(function(){
               var selection = $(this).text();
               $(this).text(document.getElementById("selected-city").innerHTML);
               document.getElementById("selected-city").innerHTML = selection;
               var imap = document.getElementById("gmap_canvas")
               if (selection === "New York City"){
                   imap.src="https://maps.google.com/maps?q=new%20york%20city&t=&z=13&ie=UTF8&iwloc=&output=embed";
               }
               else if (selection === "Paris"){
                    imap.src="https://maps.google.com/maps?q=paris&t=&z=13&ie=UTF8&iwloc=&output=embed";
               }
               else if (selection === "London"){
                    imap.src="https://maps.google.com/maps?q=london%20england&t=&z=13&ie=UTF8&iwloc=&output=embed";
               }
               else if (selection === "Montreal"){
                    imap.src="https://maps.google.com/maps?q=montreal&t=&z=13&ie=UTF8&iwloc=&output=embed";
               }
            });
        });
    </script>
{% endblock %}