{% extends "main.html" %}

{% block main_content %}
    <div class="jumbotron">
        <div class="jumbotron-content grey-background">
            <h1 class="display-1">The Proposal</h1>
            <p class="lead">An app by explorers, for explorers.</p>
            <hr class="my-4">
            <p class="lead">
                <a class="btn btn-primary btn-lg" href="#proposal" role="button">Learn more</a>
            </p>
        </div>
    </div>
    <div id="proposal">
        <div class="padding-5px grey-background">
            <h2 class="section-title">Proposal</h2>
            <div class="list-group">
                <a href="#general_description" class="list-group-item list-group-item-action flex-column align-items-start">
                    <div class="d-flex w-100 justify-content-between">
                        <h5 class="mb-1">General Description</h5>
                        <small>Just now</small>
                    </div>
                    <p class="mb-1">Donec id elit non mi porta gravida at eget metus. Maecenas sed diam eget risus varius blandit.</p>
                    <small>Donec id elit non mi porta.</small>
                </a>
                <a href="#website" class="list-group-item list-group-item-action flex-column align-items-start">
                    <div class="d-flex w-100 justify-content-between">
                        <h5 class="mb-1">Website</h5>
                        <small class="text-muted">Just now</small>
                    </div>
                    <p class="mb-1">Donec id elit non mi porta gravida at eget metus. Maecenas sed diam eget risus varius blandit.</p>
                    <small class="text-muted">Donec id elit non mi porta.</small>
                </a>
                <a href="#enemy" class="list-group-item list-group-item-action flex-column align-items-start">
                    <div class="d-flex w-100 justify-content-between">
                        <h5 class="mb-1">The Enemy</h5>
                        <small class="text-muted">Just now</small>
                    </div>
                    <p class="mb-1">Donec id elit non mi porta gravida at eget metus. Maecenas sed diam eget risus varius blandit.</p>
                    <small class="text-muted">Donec id elit non mi porta.</small>
                </a>
                <a href="#section_descriptions" class="list-group-item list-group-item-action flex-column align-items-start">
                    <div class="d-flex w-100 justify-content-between">
                        <h5 class="mb-1">Detailed Section Descriptions</h5>
                        <small class="text-muted">Just now</small>
                    </div>
                    <p class="mb-1">Donec id elit non mi porta gravida at eget metus. Maecenas sed diam eget risus varius blandit.</p>
                    <small class="text-muted">Donec id elit non mi porta.</small>
                </a>
            </div>
        </div>

        <div class="spacer"></div>

        <div class="padding-5px grey-background">


            <h2 id="general_description" class="section-title">General Description</h2>
            <p name="preamble">
                The purpose of this website is to create a home for the proposal for the startup my brother and I are planning on working on.
                The idea is simple: a virtual tour guide. We were visiting
                <a href="https://www.google.com/maps/place/New+York,+NY,+USA/@40.7098066,-74.0116208,15z/data=!4m5!3m4!1s0x89c24fa5d33f083b:0xc80b8f06e177fe62!8m2!3d40.7127753!4d-74.0059728">New York City</a>
                on Labour Day Weekend. We had gone to see the American Museum of Natural
                History as our first activity of the day, and we were sitting in a coffee shop around 4pm wondering what else there was to do. I had been to Europe
                last summer and really enjoyed the bus tours that were offered there so I suggested that we spend the rest of the day riding around on the different
                <a href="http://bigbustours.com">Big Bus Tour lines</a> that went through uptown and Brooklyn, as a way of seeing as much of the city as possible (we had spent our time up to that point
                south of Midtown). So we walked over to the Big Bus ticket office. <br><br>
                When we got there, it turned out that the last Uptown and Brooklyn tour buses had already left, and the tours would be over by 6pm. The only tour we
                could get on was one of downtown, but that was of no interest to us. So instead we went for a walk in Central Park, and we didn't get to see any of
                Brooklyn or Uptown over the weekend. Of course, we still had a great time, but it was less than ideal. There were thousands of tourists visiting New
                York City every day. How could the bus tours possibly be finished by 6pm on a Monday?!?!?!<br><br>
                Our disappointment extended beyond just the operating hours of the tours. To buy a ticket that covered Brooklyn and Uptown we would have been forced to
                shell out $70 USD. For two students, this was a pretty steep price. As we contemplated both our misfortune and the serene beauty of Central Park, we
                discussed taking the subway to Brooklyn to walk around there.<br><br>
                That's when it hit us. The subway was open at all hours of the day. It extended into all the areas of the city that we wanted to see. It was considerably
                less expensive than a multi-line ticket with one of the tour bus companies. And the subway was just one of the many ways of getting around the city.
                There were busses, Citibikes, our own feet. . . There were so many cost-saving ways to get around the city. If only there was a tour that was operated using
                these readily available and easily accesible means of transportation that operated on our own schedule.<br><br>
                <a name="idea"></a>That's where we come in. The idea for app is just that: a virtual tour guide that runs on an individual schedule, and can be used in conjunction with cheap
                and accessible methods of transportation. The idea is to integrate the app with Google Maps, public transit information, and real time GPS coordinates to help
                the user navigate the city. Prerecorded snippets about the history and trivia of the city will play through the device's audio. By using the real time GPS data,
                the user's speed and location will allow the app to determine which snippets are relevant to the user's location. The idea is really that the app serve as a
                a more accessible and customizable option than Big Bus Tours and the like.
            </p>

        </div>

        <div class="spacer"> </div>

        <div class="padding-5px grey-background">

            <h2 id="website" class="section-title">The Website</h2>
            <a name="sections"></a>The purpose of the website is as follows: it will be devoted to showcasing this startup idea. It will be devided into a number of sections that best highlight what the startup
            is about! It will provide an online home for the idea that will be accessible to all. This way, word can spread and interest in investment can be drummed up.
            While it might be important for us to develop the app, every successful company has a good website. Developing the app will take a lot of work on our parts that will
            have to wait until we finish our respective degrees. By creating the website as part of a class project, it will help advance the development. The website can also
            serve as a place to brainstorm the final form that the app will take and iron out its details.

        </div>

        <div class="spacer"> </div>

        <div class="padding-5px grey-background">
            <h2 id="enemy" class="section-title">The Enemy:</h2>
            <img class="centered-image" src="https://media-cdn.tripadvisor.com/media/photo-s/05/a7/f2/e9/big-bus-tours.jpg" alt="BigBus">

        </div>

        <div class="spacer"> </div>

        <div class="padding-5px grey-background">

            <h2 id="section_descriptions" class="section-title">Detailed Section Description</h2>
            <h4>Homepage</h4>
            The hope for the homepage is that it will be a sleek and eye catching. That way, when potential investors or clients navigate to our site,
            they have a visceral reaction. Something that makes people go "wow, what is this website for??" Something with a pastel colour palette, and a backdrop
            that features a lot of public transit. <br>
            <h4>Mythology</h4>
            This section will be devoted to retelling this proposal's preamble in more exciting and visually appealing detail. It will be a long, flowing page.
            Suspense leading up to the reveal of the idea will be built up by interspersing the mythology with outstanding images of public transportation.<br>
            <h4>About us</h4>
            This section will be laid out in a table format. One column of the table will feature a description of me, and the other will feature a description
            of my brother. It will draw attention to our good qualities and explain why we are the right people to invest with.<br>
            <h4>Business plan</h4>
            This is the part where the explanation about how the idea is put into action goes. It will have a diagram or a roadmap to success for the app.
            The connections between the points of development on the road will be different methods of public transportation. Given enough time, maybe the
            website could play audio when a pointer hovers over one of the connections, simulating the audio tour the app will be providing to its users while
            they are traveling around some of the world's greatest cities on its easily accesible methods of transportation.
        </div>
    </div>
{% endblock %}